*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
  margin: 0px;
  font-family: 'Outfit', sans-serif;
}
main{
  width: 100%;
  height: 100vh;
  background-color:hsl(212, 45%, 89%);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  box-shadow: inset;
}
.container{
  background-color: hsl(0, 0%, 100%);
    width: 230px;
    height: 375px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 230px 70px 50px;
    place-items: center;
}
.img-qr{
    max-width: 90%;
    border-radius: 10px;
}
.container h1{
  font-size: 16px;
  font-weight:bold;
  color: hsl(218, 44%, 22%);
  text-align: center;
  padding: 0 20px;
}
.container p{
  font-size: 12px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  text-align: center;
  padding: 0 20px;
}
.attribution {
  font-size: 11px;
  height: 100px;
  width: 98%;
  display: flex;
  justify-content:center;
  align-items: flex-end;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
